@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate:ital@1&family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    margin: auto;
    max-width: 1500px;
}

.navbar {
    width: 100%;
    height: 70px;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar-menu {
    list-style-position: none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin: 0px;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: #000;
    opacity: 0.7;
    text-decoration: none;
    padding: 10px;
}

.navbar-menu li a:hover {
    display: inline-block;
    color: #000;
    opacity: 1;
    text-decoration: none;
    padding: 10px;
    transition: all .14s ease-in-out;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 90px;
}

.navbar-brand {
    margin-left: 120px;
    width: 90px;
    height: auto;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    padding: 4px 12px 4px 12px;
    border: none;
    border: 1px solid #000;
    border-radius: 999px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

main iframe {
    margin-top: 30px;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#background-video {
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

span.title-music {
    margin-left: 540px;
    text-align: center;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}


@media (max-width: 800px) {
    main iframe {
        float: none;
        margin: auto;
        margin-right: auto;
        margin-left: 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar-wrap {
        display: none;
        margin: 0px;
    }

    #background-video {
        position: relative;
        margin-top: 0px;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: grayscale(100%);
        transition: filter 0.5s ease-in-out;
    }

.search-form {
    margin: 40px 0px 20px 120px;
    display: flex;
}

#search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px 0 0 4px;
    font-size: 20px;
}

.search-form button {
    padding: 8px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.search-form button:hover {
    background-color: #000;
    color: #fff;
}

.navbar-menu button {
    background: #fff!important;
    color: #000;
    opacity: 0.7;
    padding: 4px 10px 4px 10px;
    border-radius: 12px;
    font-size: 16px;
}

.navbar button {
    cursor: pointer;
}
}

h1 {
    font-size: 35px;
    margin-left: 120px;
    margin-top: 50px;
}

.course-list p {
    margin-left: 15px;
}

#knowledge {
    position: relative;
    font-size: 14px;
    color: #adacac;
}

#course-name {
    font-size: 22px;
    font-weight: bold;
}

.course-item {
    background-color: #fff;
    min-width: 340px;
    height: 200px;
    border-radius: 12px;
    margin-left: 20px;
    border: 1px solid #000;
}

.course-item a {
    border: #000 solid 1px;
    border-radius: 999px;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.course-item a:hover {
    border: #000 solid 1px;
    border-radius: 999px;
    padding: 10px 20px;
    margin: 40px 0px 0px 30px;
    background-color: #000;
    color: #fff;
    transition: all .14s ease-in-out;
}

.course-list img {
    width: 312px;
    height: 172px;
    margin-top: 55px;
    border-radius: 12px;
    margin-left: 16px;
}

#cost {
    font-weight: bold;
    font-size: 22px;
    bottom: 10px;
}

#loadingMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.add_course a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px 10px 16px;
    border-radius: 12px;
    border: #000 1px solid;
    float: right;
    margin-right: 95px;
}

.add_course a:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 20px 10px 16px;
    border-radius: 12px;
    border: #000 1px solid;
    float: right;
    margin-right: 95px;
    transition: all .14s ease-in-out;
}

footer {
    margin-top: 100px;
    background-color: #fff;
    border: 1px solid #000;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: #000;
}

.course-item button {
    margin-top: 5px;
    margin-left: 85px;
    background: #fff;
    color: #000;
    border-radius: 12px;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
}

.course-item button:hover {
    margin-top: 5px;
    margin-left: 85px;
    background: #000;
    color: #fff;
    border-radius: 12px;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
    transition: all .14s ease-in-out;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: 120px;
    margin-top: 30px;
}

.course-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    max-width: 200px;
}


.courses-header a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 999px;
    padding: 10px 20px;
    margin-left: 5px;
}

.courses-header a:focus, .courses-header a:hover {
    background-color: #000;
    color: #fff;    
}

.courses-header {
    max-width: 1300px;
    margin-left: 120px;
}